.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 16px;
  font-weight: 400;
}

.passlabel {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 400;
}

.input {
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
}

.passArea {
  width: 320px;
  display: flex;
  align-items: start;
  margin-bottom: 16px;
  font-weight: 400;
}
.passInput {
  width: 270px;
  padding-left: 8px;
  padding-right: 8px;
}

.eyeBtn {
  padding: 0px;
  align-items: center;
}

.error {
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(168, 32, 32);
}

.btn {
  display: flex;
  align-items: start;
  padding: 5px 10px;
  font-weight: 400;
  border-width: 2 px;
  border-color: black;
  border-width: 2 px;
}
.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 16px;
  font-weight: 400;
}

.input {
  width: 300px;
  padding-left: 8px;
  padding-right: 8px;
}

.btn {
  display: flex;
  align-items: start;
  padding: 5px 10px;
  font-weight: 400;
  border-width: 2 px;
  border-color: black;
  border-width: 2 px;
}
